/* General elements */
body {
    min-height: 100vh;
}

/* General elements with Flex */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Classes */

/* Flex */
.lesson-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    text-align: center;
    background: oklch(83.2% 0.2016 124.2);
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}
